<%= render 'shared/navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @follow.name %>
</p>

<%= link_to 'Edit', edit_follow_path(@follow) %> |
<%= link_to 'Back', follows_path %>
